.footer {
  display: flex;
  flex-direction: column;
  /* padding: 0 50px; */
  width: 100%;
}

.footer-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 30px;
}

.divide--line {
  height: 1px;
  background-color: #009591;
}

.inner {
  display: flex;
  justify-content: space-between; /* top 클래스 내부에서 link는 왼쪽, sns는 오른쪽에 위치 */
}

.inner .link {
  flex-direction: row;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom .inner {
  flex-direction: column;
}

.bottom .inner span {
  margin-right: 20px;
}

.link {
  display: flex; /* Flexbox 레이아웃을 사용 */
  justify-content: center; /* 가운데 정렬 */
}

.link ol {
  padding: 0; /* 기본 패딩 제거 */
  list-style-type: none; /* 순번 없애기 */
  display: flex; /* Flexbox 레이아웃을 사용하여 자식 요소를 가로로 정렬 */
}

.link li {
  margin-right: 20px; /* 리스트 아이템 간의 간격 조정 */
}

.link li:last-child {
  margin-right: 0; /* 마지막 리스트 아이템의 오른쪽 마진 제거 */
}

.link button {
  background: none; /* 배경색 없음 */
  border: none; /* 테두리 없음 */
  color: #333; /* 글자색 설정 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  padding: 10px 15px; /* 패딩 설정 */
  font-size: 16px; /* 폰트 사이즈 설정 */
}

.link button:hover {
  color: #0056b3; /* 호버 시 글자색 변경 */
  text-decoration: underline; /* 호버 시 밑줄 */
}

/* "sns" div 내의 a 태그 및 img 태그에 대한 스타일 */
.sns a {
  display: inline-block; /* 링크를 인라인 블록 요소로 설정 */
  margin: 0 10px; /* 양 옆으로 마진을 줘서 아이콘 간 간격을 설정 */
  text-decoration: none; /* 밑줄 없애기 */
  transition: transform 0.3s ease; /* 변형에 대한 부드러운 전환 효과 */
}

.sns img {
  width: 40px; /* 아이콘의 너비 */
  height: 40px; /* 아이콘의 높이 */
  transition: opacity 0.3s ease; /* 투명도 변경에 대한 부드러운 전환 효과 */
  opacity: 0.8; /* 초기 투명도 설정 */
  margin-top: 15px;
}

.sns a:hover img {
  opacity: 1; /* 호버 시 이미지의 투명도를 100%로 설정 */
  transform: scale(1.1); /* 호버 시 이미지를 약간 확대 */
}

.bottom img:not(.logo) {
  width: 64px;
  height: 44px;
}

.bottom .logo {
  width: 200px;
  height: 110px;
}

.bottom a {
  display: flex;
  align-items: center;
}
