/* 전체 컨테이너 스타일 */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background-color: #f1f3f8;
  padding: 20px;
  box-sizing: border-box;
}

/* 회원가입 제목 스타일 */
.signup-container h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

/* 에러 메시지 스타일 */
.error-message {
  color: #ff4d4f;
  margin-bottom: 15px;
  font-size: 14px;
}

/* 회원가입 폼 스타일 */
.signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* 폼 그룹 스타일 */
.signup-form .form-group {
  margin-bottom: 15px;
}

.signup-form label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.signup-form input,
.signup-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* 주민등록번호 입력 그룹 스타일 */
.signup-form .ssn-group .ssn-inputs {
  display: flex;
  align-items: center;
}

.signup-form .ssn-group input[type="text"],
.signup-form .ssn-group input[type="password"] {
  width: calc(50% - 5px); /* 앞자리와 뒷자리 입력 창의 너비 설정 */
  margin-right: 5px;
}

.signup-form .ssn-group span {
  margin-right: 5px;
}

/* 회원가입 버튼 스타일 */
.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #008485;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #27a596;
}
